/* COLMAR ACADEMY
    A Codecademy.com Capstone Project
    By Kevin Andrews, June 2019
*/


/* UNIVERSAL STYLES */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    letter-spacing: 1.8;
    color: #4a4a4a;
}

.flex {
    display: flex;
}

.container {
    width: 960px;
    margin: 0 auto;
}

button {
    background-color: #4a4a4a;
    width: 170px;
    height: 50px;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 2px;
}


/* UNIVERSAL FONT STYLES */

h1 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-weight: 500;
}

/* HEADER AND MAIN NAVAGATION */

header {
    width: 100vw;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 32px;
    align-items: center;
    padding-left: 24px;
    font-size: 1.9em;
}

#logo img {
    height: 50px;
}

.logo-dark {
    color: #4a4a4a;
    font-weight: 700;
}

.logo-light {
    font-weight: 300;
    color: #c1c1c1;
}

nav#main-nav {
    padding-right: 24px;
}

#main-nav ul li {
    padding: 0 8px;
}



/* HERO */

#hero {
    background-color: #c1c1c1;
    align-items: center;
}

#hero img {
    margin: 32px 24px;
    width: 60%; 
}

#hero-content {
    flex-direction: column;
    justify-content: space-around;
    height: 220px;
    width: 280px;
}




/* ARTICLES */


/* START LEARNING */


/* THESIS EXHIBIT */


/* FOOTER */


/* 
Thanks for reading my code :)
-Kevin 
*/

