/* COLMAR ACADEMY
    A Codecademy.com Capstone Project
    By Kevin Andrews, June 2019
*/


/* UNIVERSAL STYLES */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    letter-spacing: 1.8;
    color: #4a4a4a;
    /* background-color: rgb(218, 255, 221); */
}

.flex {
    display: flex;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:link,
a:hover,
a:visited,
a:active {
    color: #3396cf;
}

button {
    background-color: #4a4a4a;
    width: 170px;
    height: 50px;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 2px;
}


/* UNIVERSAL FONT STYLES */
h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.7rem;
    font-weight: 700;
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
}


/* HEADER AND MAIN NAVAGATION */

header {
    width: 100vw;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 32px;
    align-items: center;
    padding-left: 24px;
    font-size: 1.9em;
}

#logo img {
    height: 50px;
}

.logo-dark {
    color: #4a4a4a;
    font-weight: 700;
}

.logo-light {
    font-weight: 300;
    color: #c1c1c1;
}

nav#main-nav {
    padding-right: 24px;
}

#main-nav ul li {
    padding: 0 8px;
}



/* HERO */

#hero {
    background-color: #c1c1c1;
    align-items: center;
}

#hero img {
    margin: 32px 24px;
    width: 60%; 
}

#hero-content {
    flex-direction: column;
    justify-content: space-around;
    height: 220px;
    width: 280px;
}


#hero-content p {
    font-weight: 500;
}


/* ARTICLES */
#articles {
    background-color: white;
}

#main-article {
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #c1c1c1;
    width: 60%;
}

#main-article img {
    padding: 32px 24px;
    height: 300px;
}

#main-article h2 {
    padding-bottom:24px;
    padding-left: 24px;
}

#main-article p {
    padding-bottom:24px;
    padding-left: 24px;
    font-weight: 300; 
}

#main-article .author {
    font-size: .9rem;
    font-weight: 500;
}



#other-articles {
    flex-direction: column;
    justify-content: space-between;
}


.other-article {
    padding: 16px;
}

.other-article:first-child {
    border-bottom: 3px solid #c1c1c1;
}

.other-article:last-child {
    background-color: #c1c1c1;
}

.other-article img {
    width: 35%;
    padding-right: 16px;
}

.other-article-content {
    flex-direction: column;
    justify-content: space-around;
}

.other-article-content p {
    font-size: .9rem;
}

.other-article-content a {
    font-size: .9rem;
    font-weight: 700;
}










/* START LEARNING */
#start-learning {
    
}

/* THESIS EXHIBIT */


/* FOOTER */


/* 
Thanks for reading my code :)
-Kevin 
*/

